
#page {
	background-color:#535a6c;
 } 


#main {
  background-color:#535a6c;
  background: url(stripes.png); no-repeat; position: left top; height: 8px;
}

#column1 {
  width: 631px;
  vertical-align: top;
  margin-left: 115px;
  margin-top:360px;
  display: inline-block;
  background-color:#535a6c;

}

#p {
  font-family: 'lato', Arial, 'Helvitica Neue', Helvetica, sans-serif;
  font-size: 35px;
  color: white;
  text-align: left;
}

hr {
  border-color: #fd6e6e;
  background-color:#fd6e6e;
  width: 56px;
  height: 3px;
  position: relative;
  
}

#column2 {
  width: 631px;
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  top: 140px;
  right: -48px;
  background-color:#535a6c;
}


#body {
  text-align:left;
  background-color:#535a6c;
  font-family: 'lato', Arial, 'Helvitica Neue', Helvetica, sans-serif;
  font-size: 45px;
  font-space: 5px;
  line-height: 75%;
  color: white;

}










