#page {
	border-width: 3px;
	border-color: red;
	border-style: solid;
}

#menu {
	width: 100%;
	text-align: center;
	border-width: 3px;
	border-color: blue;
	border-style: solid;
}

#main {
	vertical-align: top;
	height: 723px;
	width: 1400px;
}

#column1 {
	width: 500px;
	vertical-align: top;
	display: inline-block;
}
#column2 {
	width: 500px;
	vertical-align: top;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	display: inline-block;
}

.menu_ul li {
	display:inline;
	margin-right: 75px;
	font-family: brandon-grotesque, verdana, sans-serif;

}

p {
	font-family
}