#border {
  background-image: url(stripes.png);
  background-position: top left;
  background-height:12px;

}

#logo {
  margin-top:12px;
  background-color:#535a6c;
  margin-left:115px;
  
}

#hr {
  border-color: #fd6e6e;
  background-color:#fd6e6e;
  width: 56px;
  height: 3px;
  top: 150px;
  left: 115;
}

#column1 {
  width: 631px;
  vertical-align: top;
  margin-left: 115px;
  margin-top:360px;
  display: inline-block;  
}

p {
  font-family: 'lato', Arial, 'Helvitica Neue', Helvetica, sans-serif;
  font-size: 35px;
  color: white;
  text-align: left;
}
 
 

#column2 {
  width: 631px;
  vertical-align: bottom;
  display: inline-block;
  position: absolute;
  top: 130px;
  right: 0px;
  
}


body {
  text-align:left;
  background-color:#535a6c;
  font-family: 'lato', Arial, 'Helvitica Neue', Helvetica, sans-serif;
  font-size: 45px;
  font-space: 5px;
  line-height: 75%;
  color: white;
}



